article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    overflow: hidden;
    background-color: #d7eeff;
    font-family: 'Montserrat', sans-serif;
}

.gameContainer {
    position: relative;
    max-width: 400px;
    height: calc(100vh - 20px);
    border: none;
    margin: 0 auto;
    
}


.player-turn {
    background-color: dodgerblue;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    font-size: 15px;
    color: white;
    left: 0;
    top: -15px;
    padding: 10px;
    border-radius: 0 0 10px 0px;
}

.board {
    bottom: 0;
    width: 100%;
    height: 210px;
    position: absolute;
    background: url('../assets/board-1.png');
    background-size: 100% 100%;
}



.box {
    position: absolute;
    height: 100px;
    width: 25%;
    opacity: 1;
    &--left--1 {
        left: 0%;
    }
    &--left--2 {
        left: 12.5%;
    }
    &--left--3 {
        left: 25%;
    }
    &--left--4 {
        left: 37.5%;
    }
    &--left--5 {
        left: 50%;
    }
    &--left--6 {
        left: 62.5%;
    }
    &--left--7 {
        left: 75%;
    }
    // bottom
    &--bot--1 {
        bottom: 16px;
    }
    &--bot--2 {
        bottom: 40px;
    }
    &--bot--3 {
        bottom: 64px;
    }
    &--bot--4 {
        bottom: 89px;
    }
    &--bot--5 {
        bottom: 113px;
    }
    &--bot--6 {
        bottom: 137px;
    }
    &--bot--7 {
        bottom: 161px;
    }
    &--bot--8 {
        bottom: 186px;
    }
    &--bot--9 {
        bottom: 210px;
    }
    &--bot--10 {
        bottom: 235px;
    }
    &--bot--11 {
        bottom: 259px;
    }
    &--bot--12 {
        bottom: 284px;
    }
    &--bot--13 {
        bottom: 308px;
    }
    //team
    &--red {
        background: url('../assets/cube-red.png');
        background-size: 100% 100%;
        // &:hover {
        //     background: url('../assets/cube-red-2.png')
        // }
    }
    &--blue {
        background: url('../assets/cube-blue.png');
        background-size: 100% 100%;
        // &:hover {
        //     background: url('../assets/cube-blue-2.png')
        // }
    }
    
    // &--2 {
    //     left: 100px;
    //     bottom: 40px;
    //     z-index: 57;
    //     background: url('../assets/cube-4.png');
    //     background-size: 100% 100%;
    // }
    // background-color: green;
}

.selector {
    position: absolute;
    top: 50px;
    left: calc(50% - 75px);
    // margin-top: 100px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    z-index: 70;

    transform: rotate(45deg) ;
}

.button {
    position: relative;
    &--text {
        color: white;
        position: absolute;
        left: 60%;
        top: -10%;
        transform: rotate(-45deg) translate(-50%, -50%);
        font-size: 15px;
        font-weight: 500;
    }
    display: inline-block;
    border: 2px solid black;
    // background-color: blue;
    // border: none;
    width: calc(100%/4);
    padding: none;
    height: calc(100%/4);
    &--blue {
        background-color: dodgerblue;
    }
    &--red {
        background-color: red;
    }
    &:hover {
        background: grey;
    }
    &:active {
        border: none;
    }
    // margin: -2px;
}

.side {
    position: absolute;
    border: 1px solid;
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(50%);
    &--front {
        bottom: calc(50% - 100px);
        right: -170px;
    }
    &--back {
        bottom: calc(50% + 100px);
        right: 420px;
    }
    &--left {
        bottom: calc(50% - 100px);
        right: 420px;
    }
    &--right {
        bottom: calc(50% + 100px);
        right: -170px;
    }
    &-header {
        text-transform: uppercase;
        font-size: 15px;
        width: 150px;
        color: white;
        text-align: center;
        background-color: black;
        position: absolute;
        top: -40px;
        left: -1px;
        padding: 5px 0;
    }
    &-box {
        width: calc(100%/4);
        border: 1px solid black;
        height: calc(100%/4);
        background-color: white;
    }
}

.side-selector {
    display: none;
}


.win {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
    &-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &-player {
        text-transform: uppercase;
        font-size: 20px;
        color: white;
        background-color: black;
        padding: 10px 20px;
        border-radius: 5px;
    }
    &-play-again {
        text-transform: uppercase;
        color: white;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        text-align: center;
        margin: 0 auto;    
    }
}

.menu {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // display: none;
    &-container {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-logo {
        width: 100px;
        height: 100px;
    }
    &-button {
        color: white;
        padding: 10px 20px;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        margin: 25px 0;
        font-weight: 900;
        font-size: 22px;
        background-color: dodgerblue;
        border-radius: 10px;
        &:hover {
            background-color: tomato;
        }
    }
    &-start {
        letter-spacing: 2px;
    }
    &-open {
        z-index: 500;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: transparent;
        border: none;
        background-image: url('../assets/logo-2.png');
        background-size: 100% 100%;
        &:hover {
            background-image: url('../assets/logo-2-hover.png');
            background-size: 100% 100%;
        }
    }
}

@media (max-width: 775px) {
    .gameContainer {
        margin: 0;
        margin-left: 20px;
    }

    .side {

        &--front {
            bottom: 50%;
            right: -500px;
        }
        &--back {
            bottom: 50%;
            right:-500px;
        }
        &--left {
            bottom: 50%;
            right:-500px;
        }
        &--right {
            bottom: 50%;
            right: -500px;
        }
        &--show {
            right: -170px;
            z-index: 100;
        }
    }

    .side-selector {
        z-index: 150;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        // overflow: hidden;
        // display: block;
        display: flex;
        flex-direction: column;
        &-button {
            transition: all .6s;
            width: 20px;
            height: 40px;
            background-color: tomato;
            border: none;
            margin-bottom: 1px;
            &:hover {
                background-color: dodgerblue;
            }
            &:hover label {
                left: 0px;
                background-color: dodgerblue;
            }
            & label {
                text-transform: capitalize;
                cursor: pointer;
                transition: all .6s;
                background-color: tomato;
                height: 40px;
                color: white;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 10px;
                padding-left: 15px;
                position: absolute;
                left: -70px;
                transform: translateY(-50%);
                &:hover {
                    // padding-left: 50px;
                    background-color: dodgerblue;
                }
            }
        }
    }
}

@media (max-width: 610px) {
    .gameContainer {
        margin: 0 auto;
    }
    .side {
        cursor: pointer;
        &:hover {
            box-shadow: 8px 5px 20px grey;
        }
        &--front {
            bottom: 50%;
            right: -300px;
        }
        &--back {
            bottom: 50%;
            right: -300px;
        }
        &--left {
            bottom: 50%;
            right: -300px;
        }
        &--right {
            bottom: 50%;
            right: -300px;
        }
        &--show {
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }
}

@media (max-height: 660px){
    .board {
        bottom: 0;
        width: 100%;
        height: 157.5px;
        position: absolute;
        background: url('../assets/board-1.png');
        background-size: 100% 100%;
    }

    .box {
        // border: 1px solid black;
        position: absolute;
        height: 75px;
        width: 25%;
        opacity: 1;
        // bottom
        &--bot--1 {
            bottom: 13px;
        }
        &--bot--2 {
            bottom: 31px;
        }
        &--bot--3 {
            bottom: 48px;
        }
        &--bot--4 {
            bottom: 66px;
        }
        &--bot--5 {
            bottom: 84px;
        }
        &--bot--6 {
            bottom: 102px;
        }
        &--bot--7 {
            bottom: 120.5px;
        }
        &--bot--8 {
            bottom: 139px;
        }
        &--bot--9 {
            bottom: 156px;
        }
        &--bot--10 {
            bottom: 176px;
        }
        &--bot--11 {
            bottom: 194px;
        }
        &--bot--12 {
            bottom: 213px;
        }
        &--bot--13 {
            bottom: 230px;
        }
    }
    
}

@media (max-height: 560px){
    .selector {
        top: 30px;
        left: calc(50% - 50px);
        // margin-top: 100px;
        width: 100px;
        height: 100px;
        border: 0.5px solid black;
        display: flex;
        flex-wrap: wrap;
        z-index: 70;
    }

    .button {
        border: 0.5px solid black;
        &--text {
            left: 70%;
            top: -25%;
            transform: rotate(-45deg) translate(-50%, -50%);
            font-size: 12px;
        }
    }
   

    .board {
        bottom: 0;
        width: 100%;
        height: 105px;
        position: absolute;
        background: url('../assets/board-1.png');
        background-size: 100% 100%;
    }

    .box {
        // border: 1px solid black;
        position: absolute;
        height: 50px;
        width: 25%;
        opacity: 1;
        // bottom
        &--bot--1 {
            bottom: 8px;
        }
        &--bot--2 {
            bottom: 20px;
        }
        &--bot--3 {
            bottom: 32px;
        }
        &--bot--4 {
            bottom: 44.5px;
        }
        &--bot--5 {
            bottom: 57.5px;
        }
        &--bot--6 {
            bottom: 68.5px;
        }
        &--bot--7 {
            bottom: 80.5px;
        }
        &--bot--8 {
            bottom: 93px;
        }
        &--bot--9 {
            bottom: 105px;
        }
        &--bot--10 {
            bottom: 117.5px;
        }
        &--bot--11 {
            bottom: 129.5px;
        }
        &--bot--12 {
            bottom: 142px;
        }
        &--bot--13 {
            bottom: 154px;
        }
    }
    
}