article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.gameContainer {
  position: relative;
  width: 400px;
  height: 100vh;
  border: 1px solid black;
  margin: 0 auto; }

.player-turn {
  color: dodgerblue;
  text-transform: uppercase;
  position: absolute;
  right: 0; }

.board {
  bottom: 0;
  width: 400px;
  height: 210px;
  position: absolute;
  background: url("../assets/board-1.png");
  background-size: 100% 100%; }

.box {
  position: absolute;
  height: 100px;
  width: 100px;
  opacity: 1; }
  .box--left--1 {
    left: 0px; }
  .box--left--2 {
    left: 50px; }
  .box--left--3 {
    left: 100px; }
  .box--left--4 {
    left: 150px; }
  .box--left--5 {
    left: 200px; }
  .box--left--6 {
    left: 250px; }
  .box--left--7 {
    left: 300px; }
  .box--bot--1 {
    bottom: 16px; }
  .box--bot--2 {
    bottom: 40px; }
  .box--bot--3 {
    bottom: 64px; }
  .box--bot--4 {
    bottom: 89px; }
  .box--bot--5 {
    bottom: 113px; }
  .box--bot--6 {
    bottom: 137px; }
  .box--bot--7 {
    bottom: 161px; }
  .box--bot--8 {
    bottom: 186px; }
  .box--bot--9 {
    bottom: 210px; }
  .box--bot--10 {
    bottom: 235px; }
  .box--bot--11 {
    bottom: 259px; }
  .box--bot--12 {
    bottom: 284px; }
  .box--bot--13 {
    bottom: 308px; }
  .box--red {
    background: url("../assets/cube-red.png");
    background-size: 100% 100%; }
  .box--blue {
    background: url("../assets/cube-blue.png");
    background-size: 100% 100%; }

.selector {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 50px;
  left: 50px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.button {
  display: inline-block;
  border: 2px solid black;
  width: calc(100%/4);
  padding: none;
  height: 50px; }
  .button--text {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 15px;
    font-weight: 500; }
  .button--blue {
    background-color: dodgerblue; }
  .button--red {
    background-color: red; }
  .button:hover {
    background: grey; }
  .button:active {
    border: none; }

.side {
  position: absolute;
  border: 1px solid;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .side--front {
    bottom: 20px;
    right: -170px; }
  .side--back {
    bottom: 220px;
    left: -170px; }
  .side--left {
    bottom: 20px;
    left: -170px; }
  .side--right {
    bottom: 220px;
    right: -170px; }
  .side-header {
    position: absolute;
    top: -50px; }
  .side-box {
    width: calc(100%/4);
    border: 1px solid black;
    height: calc(100%/4); }
