article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #d7eeff;
  font-family: 'Montserrat', sans-serif; }

.masterWrapper {
  overflow: hidden; }

.gameContainer {
  position: relative;
  max-width: 400px;
  height: calc(100vh - 20px);
  border: none;
  margin: 0 auto; }

.player-turn {
  background-color: dodgerblue;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  font-size: 15px;
  color: white;
  left: 0;
  top: -15px;
  padding: 10px;
  border-radius: 0 0 10px 0px; }

.board {
  bottom: 0;
  width: 100%;
  height: 210px;
  position: absolute;
  background: url("../assets/board-1.png");
  background-size: 100% 100%; }

.box {
  position: absolute;
  height: 100px;
  width: 25%;
  opacity: 1; }
  .box--left--1 {
    left: 0%; }
  .box--left--2 {
    left: 12.5%; }
  .box--left--3 {
    left: 25%; }
  .box--left--4 {
    left: 37.5%; }
  .box--left--5 {
    left: 50%; }
  .box--left--6 {
    left: 62.5%; }
  .box--left--7 {
    left: 75%; }
  .box--bot--1 {
    bottom: 16px; }
  .box--bot--2 {
    bottom: 40px; }
  .box--bot--3 {
    bottom: 64px; }
  .box--bot--4 {
    bottom: 89px; }
  .box--bot--5 {
    bottom: 113px; }
  .box--bot--6 {
    bottom: 137px; }
  .box--bot--7 {
    bottom: 161px; }
  .box--bot--8 {
    bottom: 186px; }
  .box--bot--9 {
    bottom: 210px; }
  .box--bot--10 {
    bottom: 235px; }
  .box--bot--11 {
    bottom: 259px; }
  .box--bot--12 {
    bottom: 284px; }
  .box--bot--13 {
    bottom: 308px; }
  .box--red {
    background: url("../assets/cube-red.png");
    background-size: 100% 100%; }
  .box--blue {
    background: url("../assets/cube-blue.png");
    background-size: 100% 100%; }

.selector {
  position: absolute;
  top: 50px;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 70;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.button {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  width: calc(100%/4);
  padding: none;
  height: calc(100%/4); }
  .button--text {
    color: white;
    position: absolute;
    left: 60%;
    top: -10%;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    -ms-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
    font-size: 15px;
    font-weight: 500; }
  .button--blue {
    background-color: dodgerblue; }
  .button--red {
    background-color: red; }
  .button:active {
    border: none; }

.side {
  position: absolute;
  border: 1px solid;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }
  .side--front {
    bottom: calc(50% - 100px);
    right: -170px; }
  .side--back {
    bottom: calc(50% + 100px);
    right: 420px; }
  .side--left {
    bottom: calc(50% - 100px);
    right: 420px; }
  .side--right {
    bottom: calc(50% + 100px);
    right: -170px; }
  .side-header {
    text-transform: uppercase;
    font-size: 15px;
    width: 150px;
    color: white;
    text-align: center;
    background-color: black;
    position: absolute;
    top: -40px;
    left: -1px;
    padding: 5px 0; }
  .side-box {
    width: calc(100%/4);
    border: 1px solid black;
    height: calc(100%/4);
    background-color: white; }

.side-selector {
  display: none; }

.win {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }
  .win-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .win-player {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px; }
  .win-play-again {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin: 0 auto; }

.menu {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu-container {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu-logo {
    width: 100px;
    height: 100px; }
  .menu-button {
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    margin: 25px 0;
    font-weight: 900;
    font-size: 22px;
    background-color: dodgerblue;
    border-radius: 10px; }
    .menu-button:hover {
      background-color: tomato; }
  .menu-start {
    letter-spacing: 2px; }
  .menu-open {
    z-index: 500;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    background-image: url("../assets/logo-2.png");
    background-size: 100% 100%; }
    .menu-open:hover {
      background-image: url("../assets/logo-2-hover.png");
      background-size: 100% 100%; }

@media (max-width: 775px) {
  .gameContainer {
    margin: 0;
    margin-left: 20px; }
  .side--front {
    bottom: 50%;
    right: -500px; }
  .side--back {
    bottom: 50%;
    right: -500px; }
  .side--left {
    bottom: 50%;
    right: -500px; }
  .side--right {
    bottom: 50%;
    right: -500px; }
  .side--show {
    right: -170px;
    z-index: 100; }
  .side-selector {
    z-index: 150;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .side-selector-button {
      -webkit-transition: all .6s;
      -o-transition: all .6s;
      transition: all .6s;
      width: 20px;
      height: 40px;
      background-color: tomato;
      border: none;
      margin-bottom: 1px; }
      .side-selector-button:hover {
        background-color: dodgerblue; }
      .side-selector-button:hover label {
        left: 0px;
        background-color: dodgerblue; }
      .side-selector-button label {
        text-transform: capitalize;
        cursor: pointer;
        -webkit-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s;
        background-color: tomato;
        height: 40px;
        color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        position: absolute;
        left: -70px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .side-selector-button label:hover {
          background-color: dodgerblue; } }

@media (max-width: 610px) {
  .gameContainer {
    margin: 0 auto; }
  .side {
    cursor: pointer; }
    .side:hover {
      -webkit-box-shadow: 8px 5px 20px grey;
      box-shadow: 8px 5px 20px grey; }
    .side--front {
      bottom: 50%;
      right: -300px; }
    .side--back {
      bottom: 50%;
      right: -300px; }
    .side--left {
      bottom: 50%;
      right: -300px; }
    .side--right {
      bottom: 50%;
      right: -300px; }
    .side--show {
      top: 50%;
      right: 50%;
      -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
      transform: translate(50%, -50%); } }

@media (max-height: 660px) {
  .board {
    bottom: 0;
    width: 100%;
    height: 157.5px;
    position: absolute;
    background: url("../assets/board-1.png");
    background-size: 100% 100%; }
  .box {
    position: absolute;
    height: 75px;
    width: 25%;
    opacity: 1; }
    .box--bot--1 {
      bottom: 13px; }
    .box--bot--2 {
      bottom: 31px; }
    .box--bot--3 {
      bottom: 48px; }
    .box--bot--4 {
      bottom: 66px; }
    .box--bot--5 {
      bottom: 84px; }
    .box--bot--6 {
      bottom: 102px; }
    .box--bot--7 {
      bottom: 120.5px; }
    .box--bot--8 {
      bottom: 139px; }
    .box--bot--9 {
      bottom: 156px; }
    .box--bot--10 {
      bottom: 176px; }
    .box--bot--11 {
      bottom: 194px; }
    .box--bot--12 {
      bottom: 213px; }
    .box--bot--13 {
      bottom: 230px; } }

@media (max-height: 560px) {
  .board {
    bottom: 0;
    width: 100%;
    height: 105px;
    position: absolute;
    background: url("../assets/board-1.png");
    background-size: 100% 100%; }
  .box {
    position: absolute;
    height: 50px;
    width: 25%;
    opacity: 1; }
    .box--bot--1 {
      bottom: 8px; }
    .box--bot--2 {
      bottom: 20px; }
    .box--bot--3 {
      bottom: 32px; }
    .box--bot--4 {
      bottom: 44.5px; }
    .box--bot--5 {
      bottom: 57.5px; }
    .box--bot--6 {
      bottom: 68.5px; }
    .box--bot--7 {
      bottom: 80.5px; }
    .box--bot--8 {
      bottom: 93px; }
    .box--bot--9 {
      bottom: 105px; }
    .box--bot--10 {
      bottom: 117.5px; }
    .box--bot--11 {
      bottom: 129.5px; }
    .box--bot--12 {
      bottom: 142px; }
    .box--bot--13 {
      bottom: 154px; } }
